<div class="loader fade-in" *ngIf="!weather">
  <div class="miku-sun">
    <img src="assets/img/sol_loader.png" alt="">
  </div>
  <img src="assets/img/loader_1.png" alt="" class="miku-base">
  <div class="miku-box"></div>
</div>
<section class="section-weather-card" *ngIf="weather">
  <div class="card fade-in">
    <div class="img-back">
      <img class="dynamic-background" src="assets/img/fondos/{{icon}}.jpg" alt="">
    </div>
    <img class="form shadow" src="assets/img/forma.svg" alt="">
    <img class="form" src="assets/img/forma.svg" alt="">
    <img class="form mobile" src="assets/img/forma_mobile2.svg" alt="">
  
    <div class="content-weather">
      <span class="date">{{dayWeek}}, {{day}} de {{month}} | {{city}}, Argentina</span>
      <div class="main-content">
        <div class="centered">
          <div class="large-content">
            <div class="left fade-in">
              {{temp}}°
            </div>
            <div class="right">
              <img class="fade-in" src="assets/img/icons/{{icon}}.svg" alt="">
              <span class="descr fade-in">{{descr}}</span>
            </div>
          </div>
          <div class="icons-content fade-in">
            <div class="box">
              <img src="assets/img/hum.svg" alt="">
              <span>{{hum}}%</span>
            </div>
            <div class="box">
              <img src="assets/img/viento.svg" alt="">
              <span>{{wind}} km</span>
            </div>
            <div class="box">
              <img src="assets/img/termi.svg" alt="">
              <span>{{st}}°C</span>
            </div>
            <div class="box">
              <img src="assets/img/presion.svg" alt="">
              <span>{{press}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dynamic-text">
    <p class="fade-in-messages" *ngIf="messagesArrayPos === 0">
      {{messagesArray[0]}}
    </p>
    <p class="fade-in-messages" *ngIf="messagesArrayPos === 1">
      {{messagesArray[1]}}
    </p>
    <p class="fade-in-messages" *ngIf="messagesArrayPos === 2">
      {{messagesArray[2]}}
    </p>
    <p class="fade-in-messages" *ngIf="messagesArrayPos === 3">
      {{messagesArray[3]}}
    </p>
    <p class="fade-in-messages" *ngIf="messagesArrayPos === 4">
      {{messagesArray[4]}}
    </p>
    <p class="fade-in-messages" *ngIf="messagesArrayPos === 5">
      {{messagesArray[5]}}
    </p>
  </div>
  <div class="line-temp">
    <span [ngStyle]="{left: tempPercentage}"></span>
  </div>
</section>
