<div class="loader" *ngIf="!weather">
  <img class="fade-in" src="/assets/img/loader.png" alt="">
  <div class="text">
    <span>C</span>
    <span>a</span>
    <span>r</span>
    <span>g</span>
    <span>a</span>
    <span>n</span>
    <span>d</span>
    <span>o</span>
    <span>.</span>
    <span>.</span>
    <span>.</span>
  </div>
</div>
<section class="section-weather-card" *ngIf="weather">
  <div class="card fade-in">
    <div class="img-back">
      <img class="dynamic-background" src="/assets/img/fondos/{{icon}}.png" alt="">
    </div>
    <img class="form shadow" src="/assets/img/forma.svg" alt="">
    <img class="form" src="/assets/img/forma.svg" alt="">
    <img class="form mobile" src="/assets/img/forma_mobile2.svg" alt="">
  
    <div class="content-weather">
      <span class="date">{{dayWeek}}, {{day}} de {{month}} | {{city}}, Argentina</span>
      <div class="main-content">
        <div class="centered">
          <div class="large-content">
            <div class="left">
              {{temp}}°
            </div>
            <div class="right">
              <img src="/assets/img/icons/{{icon}}.svg" alt="">
              <span class="descr">{{descr}}</span>
            </div>
          </div>
          <div class="icons-content">
            <div class="box">
              <img src="/assets/img/hum.svg" alt="">
              <span>{{hum}}%</span>
            </div>
            <div class="box">
              <img src="/assets/img/viento.svg" alt="">
              <span>{{wind}}km</span>
            </div>
            <div class="box">
              <img src="/assets/img/termi.svg" alt="">
              <span>{{st}}°C</span>
            </div>
            <div class="box">
              <img src="/assets/img/presion.svg" alt="">
              <span>{{press}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="line-temp">
    <span [ngStyle]="{left: tempPercentage}"></span>
  </div>
</section>
